{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Tasks{% endblock %}</h1>
{% endblock %}
{% block content %}
<div class="container">
    <div id="message" class="alert alert-danger" role="alert" hidden></div>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Work</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Add New</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <ul id="tasks-tree" class="list-group">
                <li id="new-task" class="list-group-item">
                    <div class="input-group">
                        <input id="text-new-desc" type="text" class="form-control" placeholder="New Task Description" aria-label="Description" aria-describedby="basic-addon2" maxlength="120">
                        <div class="input-group-append">
                            <input id="text-new-name" type="text" class="form-control" placeholder="New Task Name" aria-label="New task name" aria-describedby="basic-addon2" maxlength="120">
                            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary active">
                                    <input type="radio" name="new-task-pri" autocomplete="off" checked value="1">Normal
                                </label>
                                <label class="btn btn-secondary">
                                    <input type="radio" name="new-task-pri" autocomplete="off" value="0">High
                                </label>
                            </div>
                            <button id="new-task-btn" class="btn btn-outline-secondary" type="button">Add</button>
                        </div>
                    </div>
                </li>
                {% for task in tasks %}
                <li class="list-group-item d-flex justify-content-between">
                    <p class="p-0 m-0 flex-grow-1">Task 1</p>
                    <button class="btn btn-success">Start</button>
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Other</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Edit</a>
                        <a class="dropdown-item" href="#">Finish</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">Delete</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/js/tasks.js"></script>
{% endblock %}
